<link rel="stylesheet" href="/stylesheets/login.css">

<h1>{{productData.name}}</h1>
<p>The product is {{productData.name}}</p>
<p>manufaturing date of the product is {{productData.manufaturing_date}}</p>
<p>price of the product is {{productData.price}}</p>

